<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackHub Guide </title>
    <link rel="icon" href="/2.png">
    <link rel="stylesheet" href="/hackathonGuide.css">
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>       
        <header>
            <nav>
                <div class="navbar">
                    <div class="logo">
                        <img src="" alt="">
                    </div>
                    <div class="menu">
                        <ul>
                            <li>
                                <a href="/hackathon">Home</a>
                            </li>
                            <li>
                                <a href="/hackathon/new">Organize Hackethon</a>
                            </li>
                            <li>
                                <a href="/signup">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <section class="section1">
                <div class="main-body">
                    <div id="img1">
                        <img src="/shadow3.png" alt="">
                    </div>
                    <section class="main-content">
                        <div class="heading">
                            <h1>The HackHub Hackathon </h1>
                        </div>
                        <div class="heading-continue">
                             <span class="co-grad">Playbook : </span>
                             <span> Organize, Innovate, Win!</span>
                        </div>
                    </section>
                    <div id="img2">
                        <img src="/bg-3-guid.png" alt="">
                    </div>
                </div>
            </section>
            <section class="section2">
                <div class="cont-info">
                    <div class="sub-heading">
                        <div class="mini-box"></div>
                         <h1>What is <span class="co-grad">Hackethon : </span></h1>
                    </div>
                    <div class="cont-real-info">
                        <p><span class="co-grad1">A hackathon is </span> is a collaborative event lasting from a day to a week, where individuals, often called "hackers," team up to develop software applications, prototypes, or innovative solutions. The term combines "hacker," referring to a clever programmer, and "marathon," indicating endurance.</p>
                        <p>Originating from the open-source community, the first hackathon was the OpenBSD Hackathon in Calgary in 1999. Today, many companies, particularly in tech, use hackathons to encourage intrapreneurship, allowing employees to explore creative ideas in a low-pressure environment and collaborate across departments.</p>
                    </div>
                </div>
                <div class="cont-info">
                    <div class="sub-heading sub-heading-2">
                        <div class="mini-box"></div>
                        <h1>Types of <span class="co-grad">Hackethon : </span></h1>
                    </div>
                    <div class="cont-real-info for-type">
                        <div class="type-of-hack">
                            <span class="icons"><i class="bi bi-building-gear"></i></span>
                            <h3>Corporate Hackathons</h3>
                            <p class="type-of-info">
                                Organized by companies to foster innovation or find new solutions for their products and services.
                            </p>
                        </div>
                        <div class="type-of-hack">
                            <span class="icons"><i class="bi bi-backpack"></i></span>
                            <h3>University Hackathons</h3>
                            <p class="type-of-info">
                                Often aimed at students to enhance learning and encourage innovation.
                            </p>
                        </div>
                        <div class="type-of-hack">
                            <span class="icons"><i class="bi bi-person-lines-fill"></i></span>
                            <h3>Community Hackathons</h3>
                            <p class="type-of-info">
                                Open to the general public, focusing on social issues or local challenges.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </section>

            <section class="section3">
                <div class="cont-info">
                    <div class="sub-heading">
                        <div class="mini-box"></div>
                         <h1>Why Participate in  <span class="co-grad">Hackethon : </span></h1>
                    </div>

                    <div class="ans-why">
                        <div class="ans">
                            <h3>
                                Skill Development :
                                <span> Learn hands-on coding, problem-solving, and teamwork.</span>
                            </h3>
                        </div>
                        <div class="ans">
                            <h3>
                                Networking :
                                <span>Meet industry experts, tech enthusiasts, and potential collaborators.</span>
                            </h3>
                        </div>
                        <div class="ans">
                            <h3>
                                Career Growth : 
                                <span> Build an impressive portfolio and gain experience that can boost your career opportunities.  </span>
                            </h3>
                        </div>
                    </div>
                    
                </div>

            </section>
        </main>

        <footer >
            <div class="fullfooter">
              <div class="footer">
                <div class="hackethons fd-content">
                  <h4>
                    Hackethons
                  </h4>
          
                  <ul>
                    <li><a href="Hackhub/try.html">Organize Hackethon</a></li>
                    <li><a href="#explorHackThon">Participate in Hackethon</a></li>
                    <li><a href="">Guidance for Hackethon</a></li>
                    <li><a href="">College Hackethon</a></li>
                    <li><a href="">Corperate Hackethon</a></li>
                  </ul>
                </div>
          
                <div class="quick-linkes fd-content">
                  <h4>
                    Quick Links
                  </h4>
          
                  <ul>
                    <li><a href="#section1">Home</a></li>
                    <li><a href="#explorHackThon">Current Hackethons</a></li>
                    <li><a href="">Contact us</a></li>
                    <li><a href="#faq">FAQ</a></li>
                  </ul>
          
                </div>
          
                <div class="coonect-us fd-content">
                  <h4>
                    Contact Us
                  </h4>
          
                  <ul>
                    <li><a href="https://www.linkedin.com/in/rasika-rakhewar/"><i class="bi bi-linkedin"></i>&nbsp;  Linked In</a></li>
                    <li><a href="https://github.com/rasikarakhewar3010"><i class="bi bi-github"></i> &nbsp;Github</a></li>
                    <li><a href="https://www.instagram.com/rasika_rakhewar?igsh=cGM5MWVzem53YXNl"><i class="bi bi-instagram"></i>&nbsp;  Instagram</a></li>
                    <li><a href="https://x.com/Rasika_Rakhewar?t=-9Qc7dcbDuM5z3V5iN0Diw&s=08"><i class="bi bi-twitter-x"></i> &nbsp;X</a></li>
                  </ul>
                </div>
          
                <div class="fd-logo">
                </div>
                
              </div>
              <div id="horixontal-line"></div>
              <div class="copyrite">
                <p>2024  &copy; All rights reserved by HackHub</p>
              </div>
            </div>
        </footer>

        
        <!-- gsap cdn  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- gsap cdn for time line -->
        <script src="/gsapGuide.js"></script>
         
</body>
</html>